.habits {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
}
.habits td,
.habits th {
  border: 2px solid #ddd;
  padding: 8px;
  width: 5rem;
}

.habits tr:nth-child(even) {
  background-color: #f2f2f2;
}

.habits tr:hover {
  background-color: #ddd;
}

.habits th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

#good-habits th {
  background-color: #212529;
}

#bad-habits th {
  background-color: red;
}
